rules_version = '2';
service cloud.firestore {
  function isModified(key) {
  	return request.resource.data[key] != resource.data[key];
  }

  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /units/{unitId} {
    	allow read;
      allow update : if request.resource.data.keys().hasOnly(["favoriteCount","category","name","perUnit","createdBy","unit","createdAt"])
      							  && !isModified("category")
                      && !isModified("name")
                      && !isModified("perUnit")
                      && !isModified("createdBy")
                      && !isModified("unit")
                      && !isModified("createdAt")
                      && request.resource.data.favoriteCount is int
                      && request.auth.uid != null;
    }
  }
}
